@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #3D2008;
  background: #F5ECD8;
  font-family: "EB Garamond", serif;
}

.small-caps {
  font-variant: small-caps;
  text-transform: lowercase;
}
